.visited-list-item {
  border: none;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  margin-right: 20px;
}
.name-container {
  background-color: #1f1f2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
}

.image {
  height: 100px;
  width: 200px;
  margin-bottom: 10px;
}

.remove-btn {
  background-color: transparent;
  color: #f1f5f9;
  border-color: #f1f5f9;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
