* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.countries-main-container {
  background-color: #161624;
  min-height: 100vh;
  background-size: cover;
  padding: 30px;
  font-family: 'Roboto';
}

.countries-main-heading {
  color: #ffffff;
  font-size: 25px;
  font-weight: 300;
}

.visit-country-list {
  list-style-type: none;
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #334155;
  padding-left: 0px;
  border-radius: 10px;
}

.no-country-visited {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-countries {
  color: #cbd5e1;
}

.visited-country-list {
  list-style-type: none;
  border: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
